{{ define "main" }}
<main>
  <article>
    <header>
      <h1 class="f1 lh-title">{{ .Title }}</h1>
      {{ with .GetTerms "categories" }}
      <h5>
        [ {{ range $k, $_ := . -}} {{ if $k }}, {{ end }}
        <a class="link dim" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }} ]
      </h5>
      {{ end }}
    </header>

    <div class="mw9 center">
      <div class="cf">
        <div class="fl w-100 w-third-l pa2">
          <img
            class="ba br4"
            src="{{ .Site.BaseURL }}{{ .Params.main_image }}"
          />
        </div>
        <div class="fl w-100 w-two-thirds-l pa2 pl5-l">
          <div class="flex items-center">
            <h3 class="f2 lh-content mr4 w-20">demo</h3>
            <a class="f3 link dim" href="{{ .Params.demo_url }}"
              >{{ .Params.demo_url }}</a
            >
          </div>

          <div class="flex items-center">
            <h3 class="f2 lh-content mr4 w-20">code</h3>
            <a class="f3 link dim" href="{{ .Params.repo_url }}"
              >{{ .Params.repo_url }}</a
            >
          </div>

          <div class="flex items-center">
            <p class="f3">{{ partial "partials/tags.html" . }}</p>
          </div>
        </div>
      </div>
    </div>

    <div>{{ .Content }}</div>
  </article>
</main>
{{ end }}
