body {
  background-color: #2e3440;
  color: #e5e9f0;
}

h1 {
  color: #8fbcbb;
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #a3be8c;
}
a:hover {
  color: #a3be8c;
}
.link:focus {
  outline: none;
}

article a {
  color: #a3be8c;
}

.ba {
  border-color: #8fbcbb;
}

.top-nav__item,
.top-nav__item a {
  background-color: #a3be8c;
  color: #2e3440;
}

footer,
footer a {
  background-color: #a3be8c;
  color: #2e3440;
}

blockquote {
  padding: 0.5rem;
  margin: 0;
  opacity: 0.7;
}

.highlight pre {
  padding: 0.5rem;
}

figure img {
  margin-top: 0.5rem;
}

.home-banner {
  color: #8fbcbb;
  font-size: 0.8vw;
}

.list__date {
  color: #8fbcbb;
}
.list__desc {
  color: #e5e9f0;
}
