h1 {
  color: #19a974;
}

article a {
  color: #e8fdf5;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

article a:hover {
  color: #19a974;
}

blockquote {
  background-color: #555555;
  padding: 0.5rem;
  margin: 0;
  border: 1px dashed #19a974;
  opacity: 0.7;
}

.highlight pre {
  border: 1px dashed #19a974;
  padding: 0.5rem;
}

figure img {
  border: 1px dashed #19a974;
  margin-top: 0.5rem;
}
