{{ define "main" }}
<main>
  <article>
    <header>
      <h1 class="">{{ .RelPermalink }}</h1>
    </header>
    {{ .Description }}
  </article>
  <!-- Ranges through content/post/*.md -->
  <ul class="">
    {{ range .Pages }}
    <li class="">
      <a class="default-list-item" href="{{ .RelPermalink }}">
        <img
          class="default-list-item__image"
          src="{{ .Site.BaseURL }}{{ .Params.list_image}}"
        />
        <div class="default-list-item__info">
          <h5>{{ .Date.Format "Jan 2006" }}</h5>
          <h3>{{ .LinkTitle }}</h3>
          <p>{{ .Description }}</p>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
