{{ define "main" }}
<main>
  <article>
    {{ partial "partials/post-header.html" . }}

    <!-- prettier-ignore -->
    {{ $baseURL := .Site.BaseURL }}
    {{ $repoUrl := .Params.repo_url }}
    {{ $demoUrl := .Params.demo_url }}
    {{ $bgPos := .Params.main_image_pos }}
    {{ $bgSize := .Params.main_image_size }}
    {{ if isset .Params "main_image" }}
    {{ $raw := resources.Get .Params.main_image }}
    {{ with $raw.Resize "1440x webp drawing"}}
    <!---->

    <div
      class="article-image"
      style="background-image: url('{{ $baseURL }}{{ .RelPermalink }}'); 
             background-position: {{ $bgPos }};
             background-size: {{ $bgSize }}"
    >
      {{ if $repoUrl }}
      <div class="article-image__info">
        {{ if $demoUrl }}
        <div>
          <h3>demo</h3>
          <a href="{{ $demoUrl }}" target="_blank">{{ $demoUrl }}</a>
        </div>
        {{ end }}

        <div>
          <h3>source</h3>
          <a href="{{ $repoUrl }}" target="_blank">{{ $repoUrl }}</a>
        </div>
      </div>
      {{ end }}
    </div>
    <!---->
    {{ end }}
    <!---->
    {{ end }}
    <div class="post-content">{{ .Content }}</div>
  </article>
</main>
{{ end }}
