{{ define "main" }}
<main>
  <article>
    <header class="pb2 bb">
      <div class="flex items-center justify-between">
        <div>
          <h1 class="f3 f2-m f1-l lh-title">{{ .LinkTitle }}</h1>
          {{ with .GetTerms "categories" }}
          <h5 class="ml2">[ {{ partial "partials/categories.html" . }} ]</h5>
          {{ end }}
        </div>
        <h3 class="f5 f3-l">{{ .Date.Format "Jan 2006" }}</h3>
      </div>
      <div class="flex items-center justify-between">
        <div class="">{{ .Description }}</div>
        <div class="flex">
          <h5 class="ml2">{{ partial "partials/tags.html" . }}</h5>
        </div>
      </div>
    </header>
    <div class="mw9">{{ .Content }}</div>
  </article>
</main>
{{ end }}
