{{ define "main" }}

<pre class="home-banner">
  ██╗    ██╗██╗  ██╗███████╗███████╗██╗     ██╗██████╗ ██╗███╗   ██╗    ██████╗ ██████╗    ██╗   ██╗██╗  ██╗
  ██║    ██║██║  ██║██╔════╝██╔════╝██║     ██║██╔══██╗██║████╗  ██║   ██╔════╝██╔═══██╗   ██║   ██║██║ ██╔╝
  ██║ █╗ ██║███████║█████╗  █████╗  ██║     ██║██████╔╝██║██╔██╗ ██║   ██║     ██║   ██║   ██║   ██║█████╔╝ 
  ██║███╗██║██╔══██║██╔══╝  ██╔══╝  ██║     ██║██╔══██╗██║██║╚██╗██║   ██║     ██║   ██║   ██║   ██║██╔═██╗ 
  ╚███╔███╔╝██║  ██║███████╗███████╗███████╗██║██████╔╝██║██║ ╚████║██╗╚██████╗╚██████╔╝██╗╚██████╔╝██║  ██╗
   ╚══╝╚══╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚═╝╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝ ╚═════╝ ╚═════╝ ╚═╝ ╚═════╝ ╚═╝  ╚═╝
</pre>

<main>
  <article>
    <section class="grid">
    {{ range .Pages }}
      <div class="grid-cell">
        <header>
          <a href="{{ .RelPermalink }}">
            <img class="home-image"  src="{{ .Params.main_image}}" />
            <h2 >{{ .LinkTitle }}</h2>
          </a>
        </header>
        <div class="grid-cell__text">{{ .Description }}</div>
      </div>
    {{ end }}
    </section>
  </article>
</main>

{{ end }}
